{% extends 'base.html'%}

{% block content %}

{% load static %}

    &nbsp;
    <div id="city-items" class="container">
        <p>
        	<b>
        		Welcome
        	</b>
        </p>
    </div>

{% endblock %}
