{% extends 'base.html'%}

{% block content %}

{% load static %}

    <div id="form-holder" class="container">
        &nbsp;
        <b><p id="error_message"></p></b>
        <form id="form" method="POST">
          {% csrf_token %}

          {{ form.as_p }}

          <input class="btn btn-primary" type="submit" value="{{ title }}">
        </form>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
      var user;
      var users = "{{ active_users }}";
      console.log(users)
      var formHolder = $('#form-holder');
      var formData = $("#form");
      var usernameData = $("#id_username");

      formData.submit(function(event) {
        event.preventDefault();
        var logged_in = false;
        for(user in users.split(',')) {
          if(users.split(',')[user] == usernameData.eq(0).val()) {
            logged_in = true;
          }
        }
        if(logged_in) {
          document.getElementById('error_message').innerHTML = 'This user is already online.'; 
        }
        else {
          document.getElementById('error_message').innerHTML = ''; 
          this.submit();
        }
      })
    </script>

{% endblock %}