{% extends 'base.html'%}

{% block content %}

{% load static %}

<div class="container" xmlns="http://www.w3.org/1999/html">
        &nbsp;
        <form id="form" method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <button id="save" class="btn btn-primary" type="submit">Save</button>
            {% if city %}
                <button id="delete" class="btn btn-primary" type="button"><a id="delete_link" href="{{city.get_delete_url}}" style="color:white">Delete</a></button>
            {% endif %}
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        var client;
		var host = "raspberrypi";
		var port = 9001;

		var loc = window.location
		var action = loc.pathname.split('/')[2]
        var formData = $("#form")
        var cityData = $("#id_city")
        var temperatureData = $("#id_temperature")
        var conditionData = $("#id_condition")
        var deleteLink = $('#delete_link')

        function onConnect() {
            console.log('connected')
			client.subscribe("update/client");
			client.subscribe("add/client");
			client.subscribe("index/client");
		}

		function onMessageArrived(message) {
		    console.log(message.destinationName + " -> " + message.payloadString)
            if(message.destinationName !== 'index/client' && message.payloadString.split(',')[0] == "done") {
                window.location.href = loc.origin + "/city/index/"
            }
            else if(message.destinationName == 'index/client' && message.payloadString.split(',')[0] == "update") {
                post_variables = message.payloadString.split(',')
                cityData.eq(0).val(post_variables[1])
                temperatureData.eq(0).val(post_variables[2])
                conditionData.eq(0).val(post_variables[3])
                document.getElementById(deleteLink).innerHTML = post_variables[6];
            }
        }

		function mqttConnect() {
			console.log("connecting to " + host + " "+ port);
			client = new Paho.MQTT.Client(host, port, "{{ user }}");
			client.onMessageArrived = onMessageArrived;

			var options = {

				timeout: 3,
				onSuccess: onConnect
			};

			client.connect(options);
		}

        mqttConnect();

        formData.submit(function(event) {
            event.preventDefault()
            var cityText = cityData.eq(0).val()
            var temperatureText = temperatureData.eq(0).val()
            var conditionText = conditionData.eq(0).val()
            console.log(`${cityText},${temperatureText},${conditionText}`)

            message = new Paho.MQTT.Message(`${cityText},${temperatureText},${conditionText}`);
			if(action == 'add') {
			    message.destinationName = "add/new-city";
			} else {
                message.destinationName = "update/done";
			}

			client.send(message);
        })
    </script>

{% endblock %}
