{% extends 'base.html'%}

{% block content %}

{% load static %}

    &nbsp;
    <div id="city-items" class="container">
        {% for city in cities %}
            <h1 id={{city.city}} class="mt-3">
                {{ city.city }}: {{ city.temperature }} °C, {{ city.condition }}
                &nbsp;
                {% if request.user.is_superuser %}
                    <button style='font-size:30px'>
                        <a href="{{ city.get_update_url }}" style="color:black">
                            <i class='fa fa-edit'></i>
                        </a>
                    </button>
                {% endif %}
            </h1>
        {% endfor %}
    </div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        var client;
		var host = "raspberrypi";
		var port = 9001;

		var loc = window.location
        var cityHolder = $("#city-items")

		function onConnect() {
		    console.log('connected')
			client.subscribe("index/client");
            console.log("{{ user }}");
		}

        function onMessageArrived(message) {
            console.log(message.payloadString)
            post_variables = message.payloadString.split(',')
            if(post_variables[0] == "add") {
                cityData = post_variables[1]
                temperatureData = post_variables[2]
                conditionData = post_variables[3]
                city_part = cityData + ": " + temperatureData + " °C, " + conditionData
                space_part =  " &nbsp; "
                button_part = "<button style='font-size:30px'> <a href=" + `${loc.origin}${post_variables[4]}` + " style='color:black'><i class='fa fa-edit'></i></a></button>";
                if("{{ user_permission }}" == "True") {
                    added_city = "<h1 id=" + cityData + " class='mt-3'>" + city_part + space_part + button_part + "</h1>"
                } else {
                    added_city = "<h1 id=" + cityData + " class='mt-3'>" + city_part + space_part + "</h1>"
                }
                cityHolder.prepend(added_city)
            }
            else if(post_variables[0] == "update") {
                cityData = post_variables[1]
                temperatureData = post_variables[2]
                conditionData = post_variables[3]
                city_part = cityData + ": " + temperatureData + " °C, " + conditionData
                space_part =  " &nbsp; "
                button_part = "<button style='font-size:30px'> <a href=" + `${loc.origin}${post_variables[4]}` + " style='color:black'><i class='fa fa-edit'></i></a></button>";
                document.getElementById(post_variables[5]).id = cityData
                if("{{ user_permission }}" == "True") {
                    document.getElementById(cityData).innerHTML = city_part + space_part + button_part;
                } else {
                    document.getElementById(cityData).innerHTML = city_part + space_part;
                }
            }
            else if(post_variables[0] == "delete") {
                cityData = post_variables[1]
                document.getElementById(cityData).innerHTML = "";
            }
        }

        function onConnectionLost(responseObject) {
            console.log("disconnected: " + responseObject.errorMessage);
        }

		function mqttConnect() {
			console.log("connecting to " + host + " " + port);
			client = new Paho.MQTT.Client(host, port, "{{ user }}");
			client.onMessageArrived = onMessageArrived;
			client.onConnectionLost = onConnectionLost;

			var options = {
				onSuccess: onConnect
			};

			client.connect(options);
		}

        mqttConnect();
    </script>

{% endblock %}
